html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*navbar*/
body{
   background-color: #1f1f1f;
   margin:0;
   padding: 0;
   outline: 0;
   font-family: 微軟正黑體;
   color:#f1f1f1;
} 
nav a{
   padding: 0 10px;
   color:#f5f5f7;
   font-size: 16px;
   text-decoration: none;
   height: 65px;
   display:  flex;
   align-items: center;
}
nav a :hover{
   color: #ffffff;
   font-size: 17px;
   font-weight:bold;
   cursor: pointer;
}
nav{
   margin: 0px;
   padding: 0px;
   top: 0;
   right: 0;
   left: 0;
   width:100%;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   max-height: 65px;
   z-index: 3;
}
.navbar ul{
   padding: 0;
   margin: 0;
   width: auto;
   display: flex;
   justify-content: space-between; 
   height: 65px;
}
.navbar ul li{
   display: flex;
   margin: 0;
   padding: 0;
   align-items: center;  /*垂直置中*/
}
.navbar{
   position: relative;
   margin: 0 auto;
   padding: 0 20px;
   max-width: 980px;
}
/*banner*/
 .slide-show img{
    width: 100%;
    height: 100vh;
    user-select: none;
 }
 .prev, .next {
   cursor: pointer;      /*可點擊指標*/
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 40px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;    /*不可框選*/
 }
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
.prev:hover, .next:hover {
   background-color: rgba(0,0,0,.2);
 }
 .fade {
   animation-name: fade;
   animation-duration: 0.6s;
   
 }
 @keyframes fade {
   from {opacity: .5} 
   to {opacity: 1}
 }
.slideshow-container h1{
   position: absolute;
   transform: translate(-50%, -50%);
   top: 45%;
   left: 50%;
   color:#cccccc;
   user-select: none;
   font-size: 60px;
}
.slideshow-container a{
   transform: rotate(90deg);
   width: 100px;
   position: absolute;
   cursor: pointer;
   bottom: 1%;
   right: 48%;
   outline: hidden;
   width: auto;
   text-decoration:none;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 30px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
   animation: pulse 0.7s infinite alternate;  
}
@keyframes pulse{
   from{bottom:2%}
   to{bottom:0%}
}
/*about*/
.clear:after {
   display: block;
   height: 0;
   clear: both;
   content: "";
   visibility: hidden;
}
.about-block{
   width:100%;
   margin-top: 50px;
   background-color: #333333; 
}
.about-box{
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   position: relative;
   padding-top: 50px;   
}
.about-info-box{
   width: 50%;
   float: right;
   position: relative;
   padding: 40px;
   overflow: hidden;
   box-sizing: border-box;
   background-color: #444246;
   z-index: 2;
}
.about-title-box{
   padding-top: 10px; 
   padding-bottom: 30px;
}
.about-title-box span{
   display: inline-block;
   font-size: 36px;
   letter-spacing: 2px;
   font-weight: bold;
}
.about-title-box h3{
   display: inline-block;
   font-size: 18px;
   color: #00BFFF;
   margin: 0px;
   padding-left: 10px;
   letter-spacing: 2px;
}
.about-p-box p{
   font-size: 14px;
   letter-spacing: 2px;
   line-height: 3;
   margin-bottom: 30px;
}
.about-more-box{
   margin: 60px auto 50px auto;
   max-width: 100%;
   width: 160px;
}
.about-more{
   text-align: center;
   color: #00BFFF;
   text-decoration: none;
   width: 160px;
   height: 40px;
   position: relative;
   display: block;
   font-size: 14px;
}
.about-more::after{
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #00BFFF;
   transform: scale(0,1);
   transition: all .5s ease;
}
.about-more:hover::after{
   transform: scale(1,1);
   transition-delay: .2s;
}
.about-more p{
   width: 100%;
   height: 100%;
   position: relative;
   letter-spacing: 1px;
   font-size: 14px;
   line-height: 38px;
   box-sizing: border-box;
}
.about-more:hover p{
   color: #FFF;
   transition-delay: .2s;
   z-index: 1;
}
.line-right{
   width: 1px;
   height: 10px;
   bottom: 0;
   right: 0;
   background-color: #00BFFF;
   z-index: 1;
   position: absolute;
}
.line-bottom{
   width: 10px;
   height: 1px;
   bottom: 0;
   right: 0;
   background-color: #00BFFF;
   z-index: 1;
   position: absolute;
}
.about-img-box {
   width: 700px;
   max-width: 100%;
   height: 800px;
   position: absolute;
   left: 0;
}
.about-bg{
   width: 100%;
   height: 100%;
   display: block;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 1;
}
.fade-in{
   animation: fade-in 1s 1 linear; 
   animation-fill-mode : forwards;
}
@keyframes fade-in{
   from{top:15px; opacity: 0.1;}
   to{top:-35px; opacity: 1;}
}
.fade-out{
   animation: fade-out 1s 1 linear; 
   animation-fill-mode : forwards;
}
@keyframes fade-out{
   from{top:-35px; opacity: 0.1;}
   to{top:0px; opacity: 1;}
}
/*media*/
.media-block{
   margin-top: 50px;
   height: 680px;
   width:100%;
   position: relative;
}
.media-box{
   position: relative;
   max-width: 100%;
   height: 100%;
   margin: 0 auto;
   background-color: #1f1f1f;
}
.media-list-box{
   position: relative;
   list-style: none;
   top: 0;
   width: 100%;
   height: 100%;
}
.media-list-item{
   position: relative;
   float: left;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.media-list-item:nth-child(1){
   width:50%;
   top: 0
}
.media-list-item:nth-child(2){
   width:25%;
   height: 50%;
}
.media-list-item:nth-child(3){
   width:25%;
   height: 50%;
}
.media-list-item:nth-child(4){
   width:25%;
   height: 50%;
}
.media-list-item:nth-child(5){
   width:25%;
   height: 50%;
}
.media-list-item:nth-child(1) img{
   max-width: 100%;
   height: 680px;
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   background-size: contain;
}
.media-list-item img{
   max-width: 100%;
   height: 340px;
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   background-size: contain;
}

.line-right-top{
   position: absolute;
   top: 0;
   right: 0;
   width: 5px;
   height: 0px;
}
.line-top-right{
   position: absolute;
   top: 0;
   right: 0;
   width: 0px;
   height: 5px;
}
.line-right-bottom{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 5px;
   height: 0px;
}
.line-bottom-right{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 0px;
   height: 5px;
}
.line-left-top{
   position: absolute;
   top: 0;
   left: 0;
   width: 5px;
   height: 0;
}

.line-top-left{
   position: absolute;
   top: 0;
   left: 0;
   width: 0px;
   height: 5px;
}

.line-left-bottom{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 5px;
   height: 0px;
}

.line-bottom-left{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0px;
   height: 5px;
}
.media-list-item:hover .line-h{
   height: 20%;
   transition: all .8s ease;
   background:#f5f5f7;;
   z-index: 1;
}
.media-list-item:hover .line-w{
   width: 20%;
   transition: all .8s ease;
   background:#f5f5f7;;
}
.media-list-item:hover img{
   transform: scale(1.05,1.05);
   transition: all .8s ease;
}