/*navbar*/
body{
   background-color: #fafafa;
   margin:0;
   padding: 0;
   font-family: 微軟正黑體;
} 
a{
   padding: 0 10px;
   color:#f5f5f7;
   font-size: 14px;
   text-decoration: none;
   height: 44px;
   display:  flex;
   align-items: center;
}
nav{
   margin: 0px;
   padding: 0px;
   top: 0;
   right: 0;
   left: 0;
   width:100%;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   max-height: 44px;
   position: absolute;
}
ul{
   padding: 0;
   margin: 0;
   width: auto;
   display: flex;
   justify-content: space-between; 
   height: 44px;
}
li{
   display: flex;
   margin: 0;
   padding: 0;
   align-items: center;  /*垂直置中*/
}
.navbar{
   position: relative;
   margin: 0 auto;
   padding: 0 20px;
   max-width: 980px;
}
/*banner*/
.banner{
   padding: 0;
   position: relative;
   top:44px;
}
.banner .container{
   max-width: 1440px;
   padding: 0;
   margin: 0 auto;
   position: relative;
   
}
.banner .slider-box{
   float: left;
   width: 61%;
   position: relative;
   background-color: rgba(0,0,0,0.3);
}
.banner .album{
   float: right;
   width: 37%;
   position: relative;
   background-color: rgba(0,0,0,0.3);
}
.slide-show{
   overflow: hidden;
}
.album-box{
   overflow: hidden;
}
.slide-show img, .album-box img{
   width: 100%;
}